body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/QYPqXxF/0c9bbd541df8df697b8995deda24bcd1.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 24px;
}
 .container {
     background-color: deepskyblue;
     border-radius: 30px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 20px;
     opacity: 0.5;
}    
.navbar {
    background: linear-gradient(90deg, deepskyblue, #333);
    border-radius: 10px;
    opacity: 0.5;
}
 h1 {
     color: #343a40;
}
 label {
     color: #495057;
}
 .centered-textarea {
     display: block;
     margin: 0 auto;
     width: 100%;
     min-height: 150px;
     padding: 15px;
     box-sizing: border-box;
     border: 1px solid #ced4da;
     border-radius: 18px;
     resize: none;
}
 .btn-primary {
     background-color: #007bff;
     border: 1px solid #007bff;
}
 .btn-primary:hover {
     background-color: #0056b3;
     border: 1px solid #0056b3;
}
 .success-message {
     color: green;
     margin-top: 10px;
}
 .footer {
     background-color: rgba(255, 255, 255, 0.7);
     padding: 10px;
     text-align: center;
     font-size: 16px;
     color: #555;
     margin-top: 50px;
     border-top: 1px solid #ccc;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
}
 .footer p {
     margin: 0;
     display: inline-block;
     margin-right: 30px;
}
 .container-buttons {
     margin-top: 20px;
     text-align: center;
}
 .container-buttons .btn {
     margin: 5px;
}

 #result {
     padding: 10px;
     margin-top: 20px;
     border-radius: 18px;
}
 .center-placeholder::placeholder {
     text-align: center;
}

.form-check {
  display: flex;
  margin-top: 10px;
  padding: 18px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: deepskyblue;
}

.form-check:hover {
  background-color: #f0f0f0; 
  border-color: #333; 
}

.form-check-input {
  margin-right: 10px; 
  opacity: 0;
}

.disable {
  display: none;
}
#json-data{
background-image: url('https://media1.giphy.com/media/pfEOdgxXBFuf3EqQeq/giphy.gif?cid=6c09b952t99v0nkqe3og95toef37tzgventfkqmisahb2p5q&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g');
    background-size: cover;
    background-repeat: no-repeat;
    border-color: blue;
}
#inputOfPrefix, #inputOfAdmin {
  padding: 13px;
  width: 200px;
  border: 1px solid blue;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: blue;
  background-color: skyblue;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
  box-shadow: none !important;
}